<!DOCTYPE html>
<html>

<head>
    <title>Default HB template</title>
</head>

<body>
    <h3>Oh no</h3>
    <p>Looks like you are trying use a Handlebars template which doesn't exist. This is the backup template.</p>
</body>

</html>
