<div class="nav-header-container">
	<div class="back-btn-title-bar title-bar-blue">
		<a class="back-btn home_btn" href="#" title="Previous page"><img alt="Previous page icon" src="assets/backButton.svg"/></a>
	</div>
</div>

	<!-- Main Content -->
<div class="menu-container">
	<div class="header-img">
		<img alt="Company logo" src="assets/GlobalNewsConnectOnLogos-02.svg"/>
	</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="gov-bg" alt="team icon" src="assets/icons_GOVwhite 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Government</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Government"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="icm-bg" alt="team icon" src="assets/icons_ICMwhite 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Individual Change Maker</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Individual Change Maker"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
	<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="web-bg" alt="team icon" src="assets/icons_WEBwhite 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Well-Established Buisness</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Well-Established Buisness"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="cso-bg" alt="team icon" src="assets/icons_CSOwhite 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Civil Society Organisation</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Civil Society Organisation"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="se-bg" alt="team icon" src="assets/icons_SEwhite 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Small Enterprise</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Small Enterprise"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="pv1-bg" alt="team icon" src="assets/icons_PV1white 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Public Voice 1</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Public Voice 1"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
<div class="team-menu">
	<div class="team-link">
		<div class="team-link-icon">
			<img class="pv2-bg" alt="team icon" src="assets/icons_PV2white 1.svg"/>
		</div>
		<div class="team-link-info">
			<h2>Team name</h2>
			<h3>Public Voice 2</h3>
		</div>
		<div class="team-link-next">
			<a href="#" title="Go to Public Voice 2"><img alt="Next page icon" src="assets/next.svg"/></a>
		</div>
	</div>
</div>
</div>
