<div id='game'>
    <!--    <p>This is the player client, it requires a master before it can init</p>    -->
    <p id='stakeholder'></p>
    <p id='playerID'>PlayerID: {{id}}</p>
    <p id='team'>Team: <span>{{stakeholder}}</span></p>
    <p id='gameTimer'>timer:</p>
    <p id='active'></p>
    <p id='message'></p>
    <div id='activity'>
    {{playerPartial partialName ob}}
    </div>
</div>
