<div id='debuginfo' style='display: none;'><p id='playerID'>PlayerID: {{id}}</p></div>
<div id='game'>
<!--    <p id='team'>Team: <span>{{stakeholder}}</span></p>-->
    <div id='activity'>
    {{playerPartial partialName ob}}
    </div>
</div>
