<div class="header">
		  <h1>Welcome to your travel portal</h1>

		<div class="header-grad-overlay"></div>

</div>
	<!-- Main Content -->

<div class="main-content center">
		<h2>The session will begin shortly.</h2>
		<p>Please wait while we connect all the players.</p>

</div>
