<div class="header">
		  <h1>Welcome to your travel portal</h1>

		<div class="header-grad-overlay"></div>

</div>
	<!-- Main Content -->

<div class="main-content center">
		<h2>You are here to figure things out.</h2>
		<p>How can your sector adapt and thrive as part of successful decarbonisation pathways?</p>
		<p>You will be accompanied by AI Caroline throughout your journey. She will make herself known shortly.</p>
	<!-- Start Button -->
	<div class="big-button" id='big_start_button'>
			<a>START</a>
	</div>

</div>
<div id='login'>
<!--    <p>If you have a session ID you can enter it here to join the session</p>-->
    <input type='text' id='seshnum' placeholder='enter code...' value='{{value}}' oninput='validate'><button id='enter'>Join session</button>
</div>
<script>
    validate = (inp) => {
        inp.value = inp.value.replace(/[^0-9]/g, '');
    };
    requestSession = () => {
        let o = {session: txt.val().replace(/ /gm, ''), player: staticID};
//        console.log('request session:');
//        console.log(o);
        socket.emit('requestSession', o);
    };
    butt = $('#enter');

    bbutt = $('#big_start_button');
    butt = butt.add(bbutt);
    txt = $('#seshnum');
    butt.on('click', () => {
        requestSession();
    });
    txt.on('keydown', (ev) => {
        if (ev.keyCode === '13') {
            requestSession();
        }
    });
    txt.focus();
//    if (getInitProps().autoenroll) {
    if (autoEnrollAllowed()) {
        console.log('auto enroll this');
        let d = 1000 + (Math.random() * 2000);
        d = 100;
//        setTimeout(requestSession, d);
        requestSession();
    }
</script>
