list of slides:
<table><tbody>
    {{#each slideList}}
    <tr class='{{#if isCurrent}}highlight{{/if}}'>
    <td><div class='slideIcon {{type}}'></div></td><td><div class='slideLink' id='slideLink_{{index}}'>{{{title}}}</div></td>
    </tr>
    {{/each}}
</tbody></table>
