* {
    font-family: monospace;
/*    font-size: 1.1rem;*/
}
html {
    background-color: #292828;
    color: white;
}
a {
    color: cyan;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.header {
/*    text-transform: capitalize;*/
    font-size: 1.5em;
}
.novotes {
    color: #d15f5f;
}
.highlight {
    color: yellow;
    font-weight: bold;
}
.button {
    cursor: pointer;cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: inherit;
    font-size: 18px;
    text-align: center;
}
button:disabled {
    color: gray;
}
.true {
    color: green;
}
.false {
    color: red;
}
.centered {
    text-align: center;
}
table.scorePV {
    width: 200px;
}
.closer {
    position: absolute;
    top: 0px;
    right: 0px;
}

#warning {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 400px;
    float: right;
    background-color: black;
    padding: 5px;
    display: none;
    user-select: none;
    padding-right: 30px;
/*    text-align: right;*/
}
#warning_message {
    background-color: inherit;
}
