* {
    font-family: monospace;
    background-color: #292828;
    color: white;
}
.header {
/*    text-transform: capitalize;*/
    font-size: 1.5em;
}
.novotes {
    color: #d15f5f;
}
.highlight {
    color: yellow;
    font-weight: bold;
}
button:disabled {
    color: gray;
}
.true {
    color: green;
}
.false {
    color: red;
}
.centered {
    text-align: center;
}
table.scorePV {
    width: 200px;
}
.closer {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: inherit;
    font-size: 18px;
    text-align: center;
}
