.inactive {
    opacity: 0.5;
}
#playerList {
    width: 1000px;
}
#scoreSummary table {
    width: 500px;
}
#scoreSummary table td {
    vertical-align: top;
}
#scoreSummary table td:not(:first-child) {
    text-align: center;
}
.controls {
    padding: 5px 0px;
}
.caution {
    background-color: #640202;
}
.caution span {
    background-color: inherit;
}
