.inactive {
    opacity: 0.5;
}
#scoreSummary table {
    width: 500px;
}
#scoreSummary table td {
    vertical-align: top;
}
#scoreSummary table td:not(:first-child) {
    text-align: center;
}
.controls {
    padding: 5px 0px;
}
