@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

/* enhancements to Greg stuff START */
.big-button a:disabled {
    background-color: red;
}
.resources-btn:disabled {
    background-color: #39414d;
    cursor: default;
}
.link_main {
    cursor: pointer;
}
.link_main.inactive {
    cursor: auto;
    opacity: 0.5;
}
.grid-item-span-all.title {
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
/*    background-color: ;*/
}
/* enhancements to Greg stuff END */

*{
/*    font-family: monospace;*/
}

html{
    background-color: white;
    color: black;
}
body {
    background-color: white;
}

body.small_enterprise.lead {
/*    background-color: green;*/
}

#links {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
/*    height: 100%;*/
/*    min-height: 100%;*/
/*    background-color: rgba(255, 0, 0, 0.51);*/
/*    overflow-y: scroll;*/
/*    pointer-events: auto;*/
}

#overlay #wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 116, 116, 0.72); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Ensure the overlay is on top of other content */
}
#gameTimer {
    display: none;
}
#allocation, #collaboration {
/*    display: none;*/
}
.round {
    display: none;
}
#input-container {
        width: 300px;
        height: 100px;
        overflow: auto;
    }

/* Style for the textarea */
textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Include padding and border in the total width/height */
    resize: none; /* Optional: Disable textarea resizing */
    border: 1px solid #ccc; /* Optional: Add a border for better visualization */
    padding: 5px; /* Optional: Add some padding for better appearance */
    font-size: 14px; /* Optional: Set font size */
    vertical-align: top; /* Align text to the top */
}
.info_box {
    display: none;
    position: fixed;
    background-color: black;
    top: 10px;
    width: 100px;
    line-height: 0.3rem;
    text-align: center;
}
#scoresheet {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    padding: 10px;
}
#scoresheet .highlight {
    text-align: right;
}
#scoredisplay {
    display: none;
    position: absolute;
    top: 100px;
    right: 10px;
}
.dragbar {
    min-width: 200px;
    height: 30px;
    background-color: black;
}
#info_resources {
/*    display: none;*/
    right: 10px;
}
#info_multiplier {
/*    display: none;*/
    right: 230px;
}
#info_totalscore {
/*    display: none;*/
    right: 120px;
}
#info_votes {
/*    display: none;*/
    right: 340px;
}
.info_box .number {
    font-size: 3rem;
}
