body, html {
    height: 100%;
    margin: 0;
}
* {
/*    color: black;*/
}
.wrapper {
    height: 100%;
    min-height: 100%;
}
.intro {
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    width: 50%;*/
/*    height: 50%;*/
    border: none;
}
#circle-wrapper {
    z-index: 20;
    position: absolute;
    top: 5%;
    left: 3%;
    width: 10%;
    padding-top: 10%;
    color: white;
}
#circle-fill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

#header {
/*    background-color: coral;*/
    left: 15%;
    top: 5%;
    width: 84%;
    height: 20%;
    position: absolute;
    z-index: 30;
}
#header p {
    position: absolute;
    top: 0px;
    font-size: 4vw;
    line-height: 10px;
    line-height: 1vw;
    padding-left: 0px;
/*    top: -30px;*/
/*    background-color: burlywood;*/
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
/*    background-image: url(../assets/forest.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
/*    background-color: red;*/
}
.container.fullscreen1 {
    background-image: url(../assets/forest.jpg);
}
.container.fullscreen1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(92, 131, 142, 0.23), rgba(33, 216, 216, 0.5));
}


/* ############################################## start frame1 ################################################ */
.frame1full {
    width: 100%;
    height: 100%;
    background-image: url(../assets/frame1full.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
    position: fixed;
    background-color: black;
}
.container.frame1top {
    background-size: contain;
    background-image: url(../assets/frame1_top.png);
    background-position: top;
    position: absolute;
}
.container.frame1bottom {
    background-size: cover;
    background-image: url(../assets/frame1_bottom.png);
    background-position: bottom;
    position: absolute;
    bottom: 0px;
}
/* ############################################## end frame1 ################################################ */


.box {
/*    width: 350px;*/
/*    height: 100px;*/
    width: 18%;
    height: 10%;
    background-color: white;
    z-index: 10;
/*    font-size: 3rem;*/
    font-size: 6vh;
    line-height: 5vw;
    text-align: center;
    color: black;
/*    margin-top: 50px;*/
}
.box.blank {
    background-color: transparent;
    color: white;
}
.box.wide {
    width: 90%;
}
.top-box {
/*    margin-top: 100px;*/
    margin-top: 6%;
}

.entry .top-box {
    margin-top: 0px;
}

.bottom-box {
    margin-top: 2%;
}
/* video */
#vidFrame, #vidDiv {
    width: 100%;
    height: 100%;
}
.frame2 {
    height: 100%;
}
.framecorner {
    background-repeat: no-repeat;
    background-size: contain;
/*    background-color: yellow;*/
    width: 100%;
    height: 100%;
    position: absolute;
}
.frame2 .top-left {
    background-image: url(../assets/frame1_1tl.png);
/*    background-color: green;*/
}
.frame2 .top-right {
    background-image: url(../assets/frame1_2tr.png);
    background-position: right;
/*    background-position: right;*/
}
.frame2 .bottom-left {
    background-image: url(../assets/frame1_3bl.png);
    background-position: left;
/*    background-position: bottom;*/
/*    left: 0px;*/
}
.frame2 .bottom-right {
    background-image: url(../assets/frame1_4br.png);
/*    background-position: bottom;*/
    background-position: right;
}




.grid-container1 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
    gap: 10px;
}
.grid-container2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr; /* Three equal-width columns */
    gap: 10px;
}

.cell {
    border: 1px solid #000; /* Border for visualization */
    padding: 10px; /* Adjust cell padding as needed */
    width: 400px;
    height: 339px;
    text-align: center; /* Center text in the cells */
}
/* Center-align cells in the bottom row */
.cell:nth-child(4),
.cell:nth-child(5) {
    justify-self: center;
}
.card {
    background-color: red;
    width: 400px;
    height: 339px;
}


.stakeholders {
    width: 1000px;
    height: 800px;
    display: none;
}
.stakeholders td {
    width: 200px;
    height: 100px;
    background-color: white;
}



/* ############################################## start stakeholder card ################################################ */
.stakeholder_card {
/*    background-color: red;*/
    width: 400px;
    height: 339px;
    font-family: Arial-BoldMT, Arial;
}
.stakeholder_card .textarea {
    position: relative;
    top: 0px;
    height: 339px;
    width: 100%;
/*    background-color: green;*/
    z-index: 10;
}
.stakeholder_card .textarea {
/*    background-color: blue;*/
}
.stakeholder_card .scorebox {
    text-align: left;
    font-size: 1.0em;
    width: 100%;
    color: #cccccc;
    background-color: black;
}
.stakeholder_card .subtotal{
    padding-top: 6px;
    font-size: 1.3em;
}
.stakeholder_card .scorebox .scoreboxval{
    color: cyan;
}
.stakeholder_card .total {
    padding-top: 10px;
    color: white;
    font-size: 1.6em;
}
.stakeholder_card .background {
    position: relative;
    top: -339px;
    height: 339px;
    width: 100%;
/*    background-color: yellow;*/
    z-index: 5;
}
.stakeholder_card .card_bg {
    position: relative;
    top: 0px;
}
.stakeholder_card .text {
    position: relative;
    color: white;
    z-index: 10;
    text-align: center;
/*            background-color: rgba(255, 0, 0, 0.42);*/
/*    border: 5px solid white;*/
}
.stakeholder_card .vertical-center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
/*    height: 200px;*/
    top: 8px;
    left: 100px;
    width: 220px;
    height: 80px;
}
.stakeholder_card .header {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.stakeholder_card .action_name {
/*    top: 98px;*/
    top: 36px;
/*    left: 100px;*/
/*    width: 200px;*/
    left: 50px;
    width: 300px;
/*    background-color: green;*/
    font-size: 1.5rem;
}
.stakeholder_card .action_desc {
    top: 95px;
    top: 46px;
    left: 50px;
    width: 310px;
    height: 110px;
    font-size: 1.1rem;
}
.stakeholder_card .vote {
    top: 92px;
    top: 38px;
    left: 216px;
    width: 30px;
    font-size: 2.6rem;
}
/* ############################################## end stakeholder card ################################################ */



.centered {
    width: 50%;
/*    height: 50%;*/
    border: 5px solid white;
}
.check {
    font-size: 7em;
    padding: 160px 30px;
}
#login {
    display: none;
    position: absolute;
    z-index: 100;
    right: 100px;
    top: 100px;
    width: 300px;
    height: 80px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.67);
}

