* {
    font-family: monospace;
    background-color: #292828;
    color: white;
}
.header {
/*    text-transform: capitalize;*/
    font-size: 1.5em;
}
.highlight {
    color: yellow;
    font-weight: bold;
}
