<div class="container entry">
    <div class="box top-box blank wide">go to {{url}}</div>
    <div class="box bottom-box blank wide">{{#if hasSession}}enter code {{code}}{{else}}<i>(no current session)</i>{{/if}}</div>
</div>
