<div class='wrapper intro'>
    <div id='circle-wrapper'>
        <div class='circle' id='circle-fill'></div>
    </div>
    <div id='header'>
        <p>{{header}}</p>
    </div>
    <div class="container intro {{viewtype}}">
        <div class="box top-box">admin</div>
        <div class="box bottom-box">play</div>
    </div>
</div>
