{{> frame1full}}
<div class='container'>
    <table class='stakeholders'><tbody>
        <tr><td>{{> stakeholder_card}}{{> stakeholder_card}}{{> stakeholder_card}}</td></tr>
        <tr><td>{{> stakeholder_card}}{{> stakeholder_card}}</td></tr>
    </tbody></table>

    <div class="grid-container">
        {{#each gamedata.mainTeams}}
        <div class="cell">{{> stakeholder_card}}</div>
        {{/each}}
    </div>
</div>
