<div class='wrapper video'>
    <div id='vidDiv'>
        <iframe id='vidFrame' src="{{src}}" style="border: 0px; overflow: hidden;" allowfullscreen allow="autoplay" title='{{title}}' aria-label="Panopto Embedded Video Player"></iframe>
    </div>
</div>




