<div class='wrapper intro'>
    <div id='circle-wrapper'>
        <div class='circle' id='circle-fill'></div>
    </div>
    <div id='header'>
        <p>{{header}}</p>
    </div>
    <div class="container intro {{viewtype}}">
    Welcome, the session will begin shortly
        <div class="box top-box button" id='intro_admin'>admin</div>
        <div class="box bottom-box button" id='intro_player'>play</div>
    </div>
</div>
