<div class="frame2">
    <div class="framecorner top-left"></div>
    <div class="top"></div>
    <div class="framecorner top-right"></div>
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
    <div class="framecorner bottom-left"></div>
    <div class="bottom"></div>
    <div class="framecorner bottom-right"></div>
</div>
